body, html { height: 100%; }
* { margin: 0; padding: 0 }
body { font: 14px "Î¢ÈíÑÅºÚ", "FontAwesome", "Arial Narrow", HELVETICA; -webkit-text-size-adjust: 100%; }
li { list-style: none }
a { text-decoration: none; }
/* navMenu */
.navMenubox { 
    width: 180px;
    height: 100%;
    border-right: 1px solid #ccc;
    margin: 0;
    position: fixed;
    top: 50px;
    left: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    z-index: 10;
}
#slimtest1{
	padding-top:3px;
}
.navMenu> li { display: block; margin: 0; padding: 0; border: 0px; }
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
	background:#fff;
	color:#333;
	border-right:0px;
border-color: #ddd;
}
.navMenu > li:nth-of-type(1)> a:hover{
	border: 1px solid #ddd;
}
.navMenu>li>a {
	display: block;
    overflow: hidden;
    line-height: 32px;
    color: #1893ff;
    transition: all .3s;
    position: relative;
    text-decoration: none;
    font-size: 14px;
    border: 1px solid #ddd;
    margin-top: -1px;
    background: #fff;
    padding: 0px;
    padding-left: 20px;
    border-right: 0;
    font-weight: bold
}
a:hover,a:focus{
	text-decoration:none;
}
.navMenu > li:nth-of-type(1)> a { background: #fff;border: 1px solid #ccc;border-right:0px; }
.navMenu > li:last-child > a {  }
.navMenu>li>a>i { font-size: 20px; float: left; font-style: normal; margin: 0 5px; }
.navMenu li a .arrow:before { display: block; float: right; margin-top: 1px; margin-right: 15px; display: inline; font-size: 16px; font-family: FontAwesome; height: auto; content: "\f105"; font-weight: 300; text-shadow: none; }
.navMenu li a .arrow.open:before { float: right; margin-top: 1px; margin-right: 15px; display: inline; font-family: FontAwesome; height: auto; font-size: 16px; content: "\f107"; font-weight: 300; text-shadow: none; }
.navMenu>li>a.active, .navMenu>li>a:hover {  }
.navMenu>li>ul.sub-menu, .navMenu>li>ul.sub-menu>li>ul.sub-menu { display: none; list-style: none; clear: both; margin: 8px 0px 0px 10px; padding-bottom: 5px; }
.navMenu>li.active > ul.sub-menu, .navMenu>li>ul.sub-menu>li.active >ul.sub-menu { }
.navMenu>li>ul.sub-menu li { background: none; margin: 0px; padding: 0px; }
.navMenu>li>ul.sub-menu li>a { display: block; font-size: 14px; line-height: 28px; padding-left: 20px; color: #1893ff; clear: both; }
.navMenu>li>ul.sub-menu li>a.active, .navMenu>li>ul.sub-menu li>a:hover, .navMenu>li>ul.sub-menu>li.active >a { color: #FFF; background: #1893ff; }
/*---------------------*/

